*{
    margin: 0;
    padding: 0;
}

.boton{
    display: grid;
    justify-content: right;
    align-content: center;
    
    font-size: 40px;
    margin-right: 100px;
    
    cursor: pointer;
    position: fixed;
    width: 100%;

}
.boton span{
    padding-top:20px; 
    padding-right: 20px;
}


#cont-Menu{
    background-color: rgba(10,10,10,.9);
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -40%;
    z-index: 99;
    transition: all 500ms linear;
}
#cont-Menu.activar{
    left: 0%;
    transition: all 500ms linear;
    position: fixed;
    
}

#cont-Menu img{
    width: 100%;
    border-bottom: 1px solid gray;
    filter: opacity(.5) 
}

#cont-Menu ul li{
    list-style: none;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px gray;
}

#cont-Menu ul li:hover{
    cursor: pointer;
}


/*Comiensa todo*/
header{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.img-head-main{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.img-head-main img{
    margin: 0 auto;
    width: 80%;
    border-radius: 50%;
}

.img-top{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -99;
}


